<?xml version="1.0" encoding="UTF-8"?>
<!--
      ~  Date :  1/7/24, 11:31 AM
      ~ Author : AHMED EHAB <sahmedehab@gmail.com>
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="custom_rewards_observer" instance="Seoudi\CustomRewards\Observer\CheckoutSuccessObserver" />
    </event>
</config>
