<?xml version="1.0"?>
<!--
      ~  Date :  1/7/24, 11:31 AM
      ~ Author : AHMED EHAB <sahmedehab@gmail.com>
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Seoudi_CustomRewards" setup_version="1.0.1"/>
</config>

